{
    "name": "fr.cgi~chatbot~{{ chatbotVersion }}",
    "config": {
        "main" : "fr.cgi.chatbot.Chatbot",
        "port" : 8481,
        "app-name" : "Chatbot",
    	"app-address" : "/chatbot",
        "app-icon" : "Chatbot-large",
        "host": "{{ host }}",
        "ssl" : {{ ssl }},
        "auto-redeploy": false,
        "userbook-host": "{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "{{ mode }}",
        "entcore.port" : 8009,
        "chatbot-url": "{{ chatbotUrl }}",
    }
}
